---
---

@import "{{ site.theme }}";

body {
  color: #606c71;
}
.main-content {
  font-family: "JetBrains Mono", monospace;
}

.main-content pre > code {
  font-family: "JetBrains Mono", monospace;
  font-style: italic;
  background-color: #f8f9fa;
  color: #6c757d;
}
